<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pablo.baro.formulaone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FormulaOne">
        <activity
            android:name=".driverComplete"
            android:exported="false" />
        <activity
            android:name=".DriversTabbed"
            android:exported="false"
            android:label="@string/title_activity_drivers_tabbed"
            android:theme="@style/Theme.FormulaOne.NoActionBar" />
        <activity
            android:name=".Videos"
            android:exported="false"
            android:usesCleartextTraffic="true" />
        <activity
            android:name=".Schedule"
            android:exported="false" />
        <activity
            android:name=".Drivers"
            android:exported="false" />
        <activity
            android:name=".Championship"
            android:exported="false" />
        <activity
            android:name=".ShareAPP"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>